.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: monospace;
}

div {
  margin-bottom: 10px;
}

.pdfGridStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdfBoxStyle {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 350px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 50px;
  position: relative;
}

.pdfBody {
  background-color: rgb(136 136 136 / 7%);
}

.pdfCreateButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin-bottom: 2px;
}

.pageOrder {
  position: absolute;
  bottom: 0px;
  right: 300px;
  /* margin-bottom: 1px; */
}
.pageOrderDiv {
  display: flex;
  flex-direction: column;
}
